:root {
    --primary-color: #7a4f15;
    --secondary-color: #66581c;
}

@font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: bold;
    src: url(./AeonikTRIAL-Bold.otf);
}

@font-face {
    font-family: normal;
    src: url(./AeonikTRIAL-Regular.otf);
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
}

button:active {
    transform: scale(0.95);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    font-family: normal;
    overflow: scroll;
    scrollbar-width: none;
}

header {
    width: 100%;
    padding: 10px;
}

.one {
    margin-top: 60px;
    padding: 10px;
}

nav {
    width: 98%;
    height: 60px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--secondary-color);
    color: white;
    position: fixed;
    z-index: 9999;
    margin: auto;
}

nav h1 {
    font-size: 30px;
}

nav button {
    background-color: #ffffff;
    font-weight: bold;
}

.weather_box {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.weather_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.weather_left_box {
    width: 700px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
}

.weather_right_box {
    width: 400px;
    height: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main {
    width: 100%;
}

.show {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main section div {
    width: 230px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    transition: all ease 0.3s;
    overflow: hidden;
    cursor: pointer;
}

main div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: all ease 0.3s;
}

main div h3 {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-family: normal;
    font-size: 25px;
    color: var(--text-color);
}

main div:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

main div:hover img {
    transform: scale(1.2);
}

.hide {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    display: none;
    background-color: var(--primary-color);
    margin-top: 65px;
}

.task_header_box {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_header_box h2 {
    font-size: 40px;
    color: white;
    font-family: bold;
}

.back_btn {
    font-size: 20px;
    background: linear-gradient(rgb(233, 45, 45));
}

.todo_main_box {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.todo_input_box {
    width: 350px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.todo_output {
    width: 800px;
    height: 430px;
    padding: 20px;
    border-radius: 10px;
    overflow: scroll;
    scrollbar-width: none;
    background-color: var(--secondary-color);
}

.todo_input_box input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 10px;
}

.todo_input_box textarea {
    width: 100%;
    height: 250px;
    border: none;
    font-size: 20px;
    padding: 10px;
    outline: none;
}

.check_box {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.check_box input {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.todo_input_box button {
    width: 100%;
    height: 50px;
    border-radius: 0;
    background-color: rgb(133, 185, 11);
}

.todo_output .task_box {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: #fff;
    overflow: scroll;
    scrollbar-width: none;
}

.task_box h4 {
    font-size: 25px;
    position: relative;
}

.task_btn {
    display: flex;
    gap: 10px;
}

.task_box .important_btn {
    background-color: rgb(42, 163, 42);
}

.task_box .remove_btn {
    background-color: rgb(223, 77, 77);
}

span {
    font-size: 10px;
    padding: 5px 10px;
    background-color: rgb(233, 48, 48);
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: -70px;
}

.daily_planner_main_box {
    width: 90%;
    padding: 20px;
    margin: 10px auto;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--secondary-color);
}

.daily_planner_box {
    width: 45%;
    height: 70px;
    position: relative;
    border-radius: 10px;
}

.daily_planner_box p {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 18px;
}

.daily_planner_box input {
    width: 100%;
    height: 100%;
    font-size: 25px;
    padding-top: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 10px;
}

.daily_planner_box button {
    position: absolute;
    right: 20px;
    top: 20%;
    background-color: rgb(28, 165, 28);
}

.motivation_big_box {
    width: 100%;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.motivation_big_box .motivation_box {
    width: 50%;
    min-height: 280px;
    position: relative;
    padding: 10px;
    background-color: lab(80.04% -25.82 76.78);
    border-radius: 20px;
    box-shadow: 0 0 100px green;
}

.motivation_box {
    display: flex;
    align-items: center;
}

.motivation_box h2 {
    font-size: 35px;
}

.quote_of_the_day {
    padding: 10px 20px;
    position: absolute;
    top: 10px;
    background-color: #383424;
    left: 10px;
    pointer-events: none;
    color: white;
}

.author_name_box {
    padding: 10px 20px;
    position: absolute;
    bottom: 10px;
    background-color: #383424;
    right: 10px;
    pointer-events: none;
    color: white;
}

.change_quote {
    background-color: #13ac52;
    box-shadow: 0 0 20px black;
}

.change_quote:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.pomo_main_box {
    width: 500px;
    margin: 100px auto;
    border-radius: 10px;
    background-color: #383424;
    padding: 20px;
    box-shadow: 0 0 20px white;
}

.pomo_main_box .pomo_time_box {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pomo_time_box h2 {
    font-size: 70px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pomo_main_box .pomo_btns_box {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.pomo_btns_box button {
    border-radius: 0;
    color: white;
}

.pomo_btns_box button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.start_btn {
    background-color: rgb(19, 114, 19);
}

.stop_btn {
    background-color: grey;
}

.reset_btn {
    background-color: red;
}

.first_box {
    padding: 10px;
}

.first_box h2 {
    font-size: 50px;
}

.first_box h3 {
    font-size: 40px;
    font-weight: 100;
}

.sec_box {
    padding: 10px;
}

.sec_box p {
    margin-bottom: 5px;
}

.time_box .time {
    font-size: 50px;
}

.time_box .upper {
    font-weight: 300;
}

.city_name {
    font-size: 30px;
    font-weight: 300;
}

.goals_main_box {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.goals_input_box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.goal_input {
    flex: 1;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
}

.add_goal_btn {
    background-color: #1faa59;
    color: white;
}

.goals_output_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.goal_item {
    background: white;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goal_item.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.goal_buttons {
    display: flex;
    gap: 10px;
}

.goal_done {
    background-color: green;
    color: white;
}

.goal_delete {
    background-color: red;
    color: white;
}

